<div id="email-wrapper" style="padding: 20px; margin: 0; color: #333333; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;">
    <h1 style="font-family: 'HelveticaNeue-Thin', 'ArialNarrow', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight: normal; font-size: 24px; border-bottom: 1px solid #e7e7e7; padding-bottom: 10px; color: #A21F9D; margin: 0">Report for <strong>{{ test }}</b> test in <strong>{{ module }}</b> module in <strong>{{ suite }}</b> suite for <strong>{{ platform }}</b> platform</h1>
    <div id="email-body" style="padding: 20px 0 0 0; margin-bottom: 45px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 14px; border-top: 1px solid #e7e7e7; min-height: 20px;">
        <div id="report-status-wrapper">
            <h2 id="report-status" style="font-weight: bold; font-size: 20px; margin: 0; color: {{ status.color }}">{{ status.message }}</h2>
            <div style="margin: 5px 0; line-height: 20px;"><div style="font-size: 20px; font-weight: bold; vertical-align: middle; line-height: 20px; display: inline-block; min-width: 45px; max-width: 40%; text-align:center;">{{ totaltests }}</div><div style="text-align: center; margin-left: 10px; vertical-align: middle; display: inline-block; line-height: 20px;">Total Tests Ran</div></div>
            <div style="margin: 5px 0; line-height: 20px;"><div style="font-size: 20px; font-weight: bold; vertical-align: middle; line-height: 20px; display: inline-block; min-width: 45px; max-width: 40%; text-align:center;">{{ totalpassed }}</div><div style="text-align: center; margin-left: 10px; vertical-align: middle; display: inline-block; line-height: 20px;">Total Tests Passed</div></div>
            <div style="margin: 5px 0; line-height: 20px;"><div style="font-size: 20px; font-weight: bold; vertical-align: middle; line-height: 20px; display: inline-block; min-width: 45px; max-width: 40%; text-align:center;">{{ totalfailed }}</div><div style="text-align: center; margin-left: 10px; vertical-align: middle; display: inline-block; line-height: 20px;">Total Failures</div></div>
            <div style="margin: 5px 0; line-height: 20px;"><div style="font-size: 20px; font-weight: bold; vertical-align: middle; line-height: 20px; display: inline-block; min-width: 45px; max-width: 40%; text-align:center;">{{ totalstopped }}</div><div style="text-align: center; margin-left: 10px; vertical-align: middle; display: inline-block; line-height: 20px;">Total Stopped</div></div>
        </div>
    </div>
    <div id="footer" style="color: #A7A7A7; text-align: center; font-size: 14px; border-top: 1px solid #e7e7e7; padding-top: 20px; min-height: 20px;">
        <p style="margin: 0; margin-bottom: 5px;">
            sODA
        </p>
        <p style="margin: 0">
            If you think you've received this email in error or wish to unsubscribe from these reports, contact: <a style="color: #A21F9D; text-decoration: none" href="mailto:{{ maintainer.email }}">{{ maintainer.email }}</a>
        </p>
    </div>
</div>
